@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
.screen-reader {
  position: absolute;
  left: -100vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.image-block {
  display: flex;
}
.button {
  background-color: hsl(231, 69%, 60%);
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
/* Common menu styles for header and footer nav bar */
.menu {
  list-style: none;
  display: flex;
  margin: 0;
}
.menu__item {
  margin-right: 40px;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.menu__link:hover,
.menu__link:focus {
  color: hsl(0, 94%, 66%);
}
/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.header__menu__link {
  color: hsl(229, 31%, 21%);
}
.header__menu__link__button {
  color: #ffffff;
  background: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
  border-radius: 5px;
  padding: 10px 30px;
}
.header__menu__link__button:hover,
.header__menu__link__button:focus {
  color: hsl(0, 94%, 66%);
  background: #ffffff;
}
/* Intro Section */
.intro {
  display: flex;
  padding: 50px 75px 50px 150px;
  align-items: center;
}
.intro__title {
  color: hsl(229, 31%, 21%);
  font-weight: 500;
  font-size: 48px;
  margin: 0;
}
.intro__paragraph {
  color: hsl(229, 8%, 60%);
  padding-right: 20px;
  line-height: 1.5;
  margin: 20px 0 30px;
}
.intro__firefox-button {
  background-color: hsl(0, 0%, 93%);
  color: hsl(229, 31%, 21%);
  border: 2px solid hsl(0, 0%, 93%);
  margin-left: 10px;
}
/* Footer Section */
.footer {
  background-color: hsl(229, 31%, 21%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 150px 10px;
}
.footer__logo-menu-block {
  display: flex;
  align-items: center;
}
.footer__menu {
  padding-left: 50px;
}
.footer__menu__link {
  color: #ffffff;
}
.footer__social-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.footer__social-link {
  margin-right: 40px;
}
.footer__social-link svg:hover path,
.footer__social-link:focus svg path {
  fill: hsl(0, 94%, 66%);
}
/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
  flex-basis: 100%;
  margin-top: 40px;
  color: #ffffff;
}
.attribution a {
  color: #ffffff;
}
